<?xml version="1.0" encoding="UTF-8"?>
<html xml:lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Przemysław Niedziela - Uwaga, zakręt!</title>
    <!--Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
    <style>
        .center {
            text-align: center;
        }

        .header {
            font-size: 20px;
            font-weight: bold;
            padding: 20px 0 20px 0;
        }

    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12 center">
            <div class="row header">Panel logowania</div>
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <form action="/uwagazakret/" method="post">
                        <div class="form-group">
                            <label for="username">Nazwa użytkownika</label>
                            <input type="text" class="form-control" id="username" aria-describedby="usernameHelp"
                                   placeholder="Wpisz swoją nazwę" name="username"/>
                        </div>
                        <button type="submit" class="btn btn-primary">Wejdź do gry!</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

</body>
</html>